html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.copyright {
    background: #111111;
    font-size: 14px;
    text-align: center;
    color: #555555;
    padding-top: 14px;
    padding-bottom: 14px;
}

.title {
    position: relative;
    margin: 10px;
    line-height: 20px;
    padding: 1px 10px;
    font-size: 14px;
    background-color: #F7F7F7;
    height: 20px;
    border-bottom: 1px solid #eaeaea;
    font-weight: normal;
}

.panel-heading > h5 {
    font-size: 15px;
}

.login-error {
    color: red;
}

td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 10px;
    width: 35px;
}

td.hljs-ln-code {
    padding-left: 10px;
}

a:link {
    text-decoration: none;
}
