<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/blog.css' %}">
</head>
<body>
<!-- 导航条 -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">测试博客</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/index/">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">学习目录</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">python入门</a></li>
                        <li><a href="#">selenium</a></li>
                        <li><a href="#">Django</a></li>
                        <li><a href="#">python标准库</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Python</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">内置函数</a></li>
                        <li><a href="#">内置模块</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Pycharm</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">快捷键</a></li>
                        <li><a href="#">安装卸载库</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">安装</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Python</a></li>
                        <li><a href="#">Pycharm</a></li>
                        <li><a href="#">Mysql</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">环境部署</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">CentOS+Nginx</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">官方文档</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Python</a></li>
                        <li><a href="#">Django</a></li>
                        <li><a href="#">Pycharm</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.username %}
                    <li><a href="#">{{ request.user.username }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">个人中心</a>
                        <ul class="dropdown-menu">
                            <li><a href="/blog/{{ request.user.username }}/">我的博客</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">注销</a></li>
                        </ul>
                        {% else %}
                    <li><a href="/reg/">注册</a></li>
                    <li><a href="/login/">登录</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- 页面主体内容 -->
<div class="container-fluid">
    <div class="row">
        <div class="info" style="display: none" article_id="{{ article.pk }}"
             username="{{ request.user.username }}"></div>
        <!-- 文章内容展示区 -->
        <div class="col-md-9 column">
            <div class="panel panel-default" style="margin-top: 10px">
                <div class="panel-heading">文章内容</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ article.title }}</h1>
                </div>
                <div class="panel-body">
                    <div>
                        {{ article.articledetail.content|safe }}
                    </div>
                    <!-- 点赞区域 -->
                    <div class="clearfix pull-right" id="div_digg">
                        <p>
                            <button class="btn btn-default btn-sm diggit action">
                                <span><i class="fa fa-thumbs-o-up"></i></span>
                                <span id="digg_count">{{ article.up_count }}</span>
                            </button>
                            <button class="btn btn-default btn-sm action">
                                <span><i class="fa fa-thumbs-o-down"></i></span>
                                <span id="bury_count">{{ article.down_count }}</span>
                            </button>
                            <div class="diggword pull-right" id="digg_tips" style="color: red;font-size: 13px"></div>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 文章评论区 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">评论列表</h1>
                </div>
                <div class="panel-body">
                    <ul class="comment_list">
                        {% for comment in comment_list %}
                            <li class="list-group-item">
                                <div>
                                    <span style="color: gray">第{{ forloop.counter }}楼</span> &nbsp;
                                    <span style="color: gray">{{ comment.create_time|date:"Y-m-d h:i" }}</span> &nbsp;
                                    <a href="#"><span>{{ comment.user.username }}</span></a>
                                    <button class="pull-right reply_btn btn btn-default btn-xs" style="font-size: 10px"
                                            username="{{ comment.user.username }}" comment_pk="{{ comment.pk }}">回复
                                    </button>
                                </div>
                                {% if comment.parent_comment_id %}
                                    <div class="pid_info well">
                                        <p>@{{ comment.parent_comment.user.username }}
                                            &nbsp;{{ comment.parent_comment.content }} &nbsp;</p>
                                    </div>
                                {% endif %}
                                <div class="con">
                                    <p>{{ comment.content }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">评论区域</h1>
                </div>
                <div class="panel-body">
                    {% if request.user.username %}
                        <div class="div_comment">
                            <p>昵称：
                                <input type="text" id="tbCommentAuthor" class="author form-control" disabled="disabled"
                                       style="width: 300px" value="{{ request.user.username }}">
                            </p>
                            <p>评论内容：</p>
                            <textarea name="com_content" id="comment_content" class="form-control" rows="8"></textarea>
                            <p>
                                <button id="comment_btn" class="btn btn-default btn-sm" style="margin-top: 10px">提交评论
                                </button>
                            </p>
                        </div>
                    {% else %}
                        <a href="/login/">请登录后再评论</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-3 column" style="margin-top: 10px">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">文章分类</h3>
                </div>
                <div class="panel-body">
                    {% for category in category_list %}
                        <a href="#"><p>{{ category.title }}({{ category.c }})</p></a>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">文章标签</h3>
                </div>
                <div class="panel-body">
                    {% for tag in tag_list %}
                        <a href="#"><p>{{ tag.title }}({{ tag.c }})</p></a>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">文章归档</h3>
                </div>
                <div class="panel-body">
                    {% for date in archive_list %}
                        <a href="#"><p>{{ date.archive_ym }}({{ date.c }})</p></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 页脚 -->
<footer class=navbar-fixed-bottom>
    <div class="copyright">
        版权所有，保留一切权利 · 基于Django1.11构建 · © 2019
    </div>
</footer>
<script src="{% static '/js/jquery-3.3.1.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/login.js' %}"></script>
<script src="{% static '/js/comment.js' %}"></script>
</body>
</html>
