<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>博客首页</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/blog.css' %}">
</head>
<body>
<!-- 导航条 -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">测试博客</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">学习目录</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">python入门</a></li>
                        <li><a href="#">selenium</a></li>
                        <li><a href="#">Django</a></li>
                        <li><a href="#">python标准库</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Python</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">内置函数</a></li>
                        <li><a href="#">内置模块</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Pycharm</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">快捷键</a></li>
                        <li><a href="#">安装卸载库</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">安装</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Python</a></li>
                        <li><a href="#">Pycharm</a></li>
                        <li><a href="#">Mysql</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">环境部署</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">CentOS+Nginx</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">官方文档</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Python</a></li>
                        <li><a href="#">Django</a></li>
                        <li><a href="#">Pycharm</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">注册</a></li>
                <li><a href="#">登录</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- 页面主体内容 -->
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-9 column">
            <div class="panel panel-default" style="margin-top: 10px">
                <div class="panel-heading">最新发布</div>
            </div>
            {% for article in article_list %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5><a href="#">{{ article.title }}</a></h5>
                    </div>
                    <div class="panel-body">
                        <p>{{ article.desc }}</p>
                    </div>
                    <div class="panel-footer">
                        <span><a href="#">{{ article.user.username }}&nbsp;</a></span>发布于
                        <span>{{ article.create_time|date:'Y-m-d H:i:s' }}&nbsp;</span>
                        <span><i class="fa fa-share fa-fw" aria-hidden="true"></i>点击:{{ article.hit_count }}</span>
                        <span><i class="fa fa-comment-o fa-fw" aria-hidden="true"></i>评论:{{ article.comment_count }}</span>
                        <span><i class="fa fa-thumbs-o-up fa-fw" aria-hidden="true"></i>点赞:{{ article.up_count }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3 column">
            侧边内容
        </div>
    </div>
</div>

<!-- 页脚 -->
<footer class=navbar-fixed-bottom>
    <div class="copyright">
        版权所有，保留一切权利 · 基于Django1.11构建 · © 2019
    </div>
</footer>
<script src="{% static '/js/jquery-3.3.1.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/blog.js' %}"></script>
</body>
</html>
